<app-navbar></app-navbar>

<!-- Carousel wrapper -->
<div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark" data-mdb-ride="carousel" data-mdb-carousel-init>
  <div class="carousel-inner">
    <div *ngFor="let curso of cursos; let i = index" [class.active]="i === 0" class="carousel-item">
      <img [src]="curso.image" class="d-block w-100" [alt]="curso.name" />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ curso.name }}</h5>
        <p>{{ curso.description }}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Grid de tarjetas -->
<div class="grid-container">
  <div *ngFor="let curso of cursos" class="card">
    <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
      <img [src]="curso.image" class="img-fluid" />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ curso.name }}</h5>
      <p class="card-text">{{ curso.description }}</p>
      <a (click)="openModal()" class="btn btn-primary" >Inscribirse</a>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="confirmSubscriptionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmar Inscripción</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas inscribirte en este curso?</p>
        <p><strong>Requisitos:</strong> Tener conocimientos básicos en el área y cumplir con las normas del curso.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="redirectToLibrary()" data-mdb-dismiss="modal">Confirmar y continuar</button>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
