<app-navbar></app-navbar>

<!-- Listado de Cursos -->
<!-- Listado de Cursos -->
<div class="grid-container">
  <div *ngFor="let curso of cursos" class="card">
    <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
      <img [src]="curso.image" class="img-fluid" />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ curso.name }}</h5>
      <p class="card-text">{{ curso.description }}</p>
      <a (click)="openModal(curso._id)" class="btn btn-primary">Inscribirse</a>
    </div>
    <div class="curso-item">
      <p>{{ curso.nombre }}</p>
      <button (click)="editarCurso(curso._id)">Editar</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmSubscriptionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmar Inscripción</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas inscribirte en este curso?</p>
        <p><strong>Requisitos:</strong> Tener conocimientos básicos en el área y cumplir con las normas del curso.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancelar</button>
        <!-- Mueve el botón fuera del *ngFor -->
        <button type="button" class="btn btn-primary" (click)="confirmEnrollment()" data-mdb-dismiss="modal">
          Confirmar y continuar
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
