<app-navbar></app-navbar>

<!-- Carousel wrapper -->
<div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark" data-mdb-ride="carousel" data-mdb-carousel-init>
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button
        data-mdb-target="#carouselDarkVariant"
        data-mdb-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        data-mdb-target="#carouselDarkVariant"
        data-mdb-slide-to="1"
        aria-label="Slide 1"
      ></button>
      <button
        data-mdb-target="#carouselDarkVariant"
        data-mdb-slide-to="2"
        aria-label="Slide 1"
      ></button>
    </div>
  
    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(19).webp" class="d-block w-100" alt="Motorbike Smoke"/>
        <div class="carousel-caption d-none d-md-block">
          <h5>Curso 1</h5>
          <p>Curso de conduccion</p>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(35).webp" class="d-block w-100" alt="Mountaintop"/>
        <div class="carousel-caption d-none d-md-block">
          <h5>Curso 2</h5>
          <p>Curso de proteccion vehicular</p>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(40).webp" class="d-block w-100" alt="Woman Reading a Book"/>
        <div class="carousel-caption d-none d-md-block">
          <h5>Curso 3</h5>
          <p>Curso de mantenimiento</p>
        </div>
      </div>
    </div>
    <!-- Inner -->
  
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- TARJETAS DE LOS CURSOS -->

  <!--CURSOS-->
  <div class="grid-container">
    <div class="card">
      <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Curso 1</h5>
        <p class="card-text">Curso 1 aqui va ir la descripcion Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui veniam, corrupti eos, eum quae magni animi ratione reiciendis ut laboriosam ipsa nihil cum, incidunt reprehenderit quia ipsam similique nulla porro!</p>
        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Inscribirse</a>
      </div>
    </div>
    <!-- Puedes agregar más tarjetas dentro del contenedor grid -->
    <div class="card">
        <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Curso 1</h5>
          <p class="card-text">Curso 1 aqui va ir la descripcion Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui veniam, corrupti eos, eum quae magni animi ratione reiciendis ut laboriosam ipsa nihil cum, incidunt reprehenderit quia ipsam similique nulla porro!</p>
          <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Inscribirse</a>
        </div>
      </div>
      <!--Curso 3-->
      <div class="card">
        <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Curso 1</h5>
          <p class="card-text">Curso 1 aqui va ir la descripcion Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui veniam, corrupti eos, eum quae magni animi ratione reiciendis ut laboriosam ipsa nihil cum, incidunt reprehenderit quia ipsam similique nulla porro!</p>
          <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Inscribirse</a>
        </div>
      </div>
      <!--Curso 4-->
      <div class="card">
        <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Curso 1</h5>
          <p class="card-text">Curso 1 aqui va ir la descripcion Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui veniam, corrupti eos, eum quae magni animi ratione reiciendis ut laboriosam ipsa nihil cum, incidunt reprehenderit quia ipsam similique nulla porro!</p>
          <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Inscribirse</a>
        </div>
      </div>
      <!-- curso 5 -->
      <div class="card">
        <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Curso 1</h5>
          <p class="card-text">Curso 1 aqui va ir la descripcion Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui veniam, corrupti eos, eum quae magni animi ratione reiciendis ut laboriosam ipsa nihil cum, incidunt reprehenderit quia ipsam similique nulla porro!</p>
          <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Inscribirse</a>
        </div>
      </div>
      <!-- curso 6 -->
             <div class="card">
        <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Curso 1</h5>
          <p class="card-text">Curso 1 aqui va ir la descripcion Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui veniam, corrupti eos, eum quae magni animi ratione reiciendis ut laboriosam ipsa nihil cum, incidunt reprehenderit quia ipsam similique nulla porro!</p>
          <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Inscribirse</a>
        </div>
      </div>
  </div>
  

<app-footer></app-footer>
