<app-navbar></app-navbar>

<div class="container mt-5">
    <h2>Usuarios Inscritos a Cursos</h2>
    <ng-container *ngIf="enrollments$ | async as enrollments">
        <div *ngIf="enrollments.length > 0">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre Usuario</th>
                        <th>Curso</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let enrollment of enrollments">
                        <td>{{ enrollment._id }}</td>
                        <td>{{ enrollment.user_id.username }}</td>
                        <td>{{ enrollment.course_id.name}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="deleteEnrollment(enrollment._id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #noEnrollments>
            <p>No hay inscripciones disponibles.</p>
        </ng-template>


<div class="container mt-5">
    <h2>Inscribir Usuario a Curso</h2>
    <form (submit)="enrollUser()">
        <div class="mb-3">
            <label for="userId" class="form-label">Usuario</label>
            <select class="form-select" id="userId" [(ngModel)]="selectedUser" name="userId" required>
                <option selected disabled value="">Selecciona un usuario</option>
                <option *ngFor="let user of users" [value]="user._id">{{ user.username }}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="courseId" class="form-label">Curso</label>
            <select class="form-select" id="courseId" [(ngModel)]="selectedCourse" name="courseId" required>
                <option selected disabled value="">Selecciona un curso</option>
                <option *ngFor="let course of courses" [value]="course._id">{{ course.name }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Inscribir</button>
    </form>
</div>

<br><br>
<app-footer></app-footer>
