<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars">Menu</i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" [routerLink]="['/cursos']">
          <img
            src="../assets/logo.png"
            height="50"
            alt="Cursoria Logo"
            loading="fast"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cursos']">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/inscripciones']">Inscripciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/usuarios']">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/crearcursos']">Crear curso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/miscursos']">Biblioteca</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Avatar -->
        <button type="button" class="btn-primary" (click)="logout()">
          Cerrar sesion
        </button>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
