<app-navbar></app-navbar>
<!-- src/app/cursos-usuarios/cursos-usuarios.component.html -->
<div class="container">
  <h2>Mis Cursos</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of userCourses">
        <td>{{ course.course_id?.name || 'Curso no disponible' }}</td>
        <td>{{ course.course_id?.description || 'Descripción no disponible' }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteCourse(course._id)">Eliminar inscripción</button>
        </td>
      </tr>      
    </tbody>
  </table>
</div>

<app-footer></app-footer>
