<app-navbar></app-navbar>

<!-- Tabla de usuarios -->
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Datos basicos</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        <div class="d-flex align-items-center">
          <img [src]="user.avatar || 'https://via.placeholder.com/45'" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{ user.username }}</p>
            <p class="text-muted mb-0">{{ user.email }}</p>
          </div>
        </div>
      </td>
      <td>{{ user.role }}</td>
      <td>
        <button type="button" class="btn-primary" (click)="editUser(user)">
          Editar
        </button>
        <button type="button" class="btn-primary" (click)="deleteUser(user._id)">
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Formulario de usuario -->
<div class="container mt-4">
  <h2>{{ editingUser ? 'Editar Usuario' : 'Crear Usuario' }}</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
    <div class="mb-3">
      <label for="userName" class="form-label">Nombre de Usuario</label>
      <input type="text" class="form-control" id="userName" formControlName="username" placeholder="Ingrese el nombre de usuario">
    </div>
    <div class="mb-3">
      <label for="userEmail" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" id="userEmail" formControlName="email" placeholder="Ingrese el correo electrónico">
    </div>
    <div class="mb-3">
      <label for="userPassword" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="userPassword" formControlName="password" placeholder="Ingrese la contraseña" [attr.disabled]="editingUser ? true : null">
    </div>
    <div class="mb-3">
      <label for="userRole" class="form-label">Rol del Usuario</label>
      <select class="form-select" id="userRole" formControlName="role">
        <option value="admin">Admin</option>
        <option value="user">Usuario</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">{{ editingUser ? 'Actualizar Usuario' : 'Crear Usuario' }}</button>
    <button type="button" class="btn btn-secondary ms-2" (click)="resetForm()">Cancelar</button>
  </form>
</div>

<app-footer></app-footer>
